.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ellipsis {
  @extend %ellipsis-basic;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.bg-white {
  background-color: #fff;
}

.padding-x {
  padding-left: 40px;
  padding-right: 40px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.page {
  overflow: hidden;
  min-height: 100%;
  background-color: #fff;
}

// /* iphone4 */

// @media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
// }

// /* iphone5 */

// @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
// }
